@import 'vars'

/* Custom Button */
.property-button
    display: flex
    align-items: center
    font-size: 15px
    font-weight: 500
    line-height: 42px
    border: none
    border-radius: $button-radius
    color: $text-white
    background-color: $button-color
    font-family: $body-font
    cursor: pointer
    &__plus
        display: block
        height: 100%
        border: 1px solid darken($button-color, 10)
        padding-right: 10px
        margin-right: 10px