@import 'vars'

/* Custom Button */
.property-button
    display: flex
    align-items: center
    font-size: 15px
    font-weight: 500
    line-height: 42px
    border: none
    border-radius: $button-radius
    color: $text-white
    background-color: $button-color
    font-family: $body-font
    cursor: pointer
    &__plus
        display: block
        height: 100%
        padding-right: 10px
        margin-right: 10px

.primary-button
    font-size: 16px
    font-weight: bold
    font-family: Roboto,sans-serif
    line-height: 16px
    background-color: $button-color 
    border: none
    border-radius: 5px
    color: #fff
    padding: 15px 20px
.icon-button
    font-size: 14px
    line-height: 36px
    border-radius: 4px
    padding: 0 22px
    height: 36px
    background: $background
    color: $button-color
    border: none
    font-weight: bold
    cursor: pointer
    &:hover
        color: #fff
        background: $icon-button-hover
        transition: 400ms