@import 'vars'

/* Custom Button */
.property-button
    width: 190px
    height: 44px
    display: flex
    align-items: center
    font-size: 15px
    font-weight: 500
    line-height: 42px
    border: none
    border-radius: $button-radius
    color: $text-white
    background-color: $button-color
    font-family: $body-font
    cursor: pointer
    &-left
        height: 44px
        width: 42px
        border-top-left-radius: $button-radius
        border-bottom-left-radius: $button-radius
        background: darken($button-color, 10)
        display: flex
        justify-content: center
        align-items: center
    &-right
        width: 148px
        height: 44px
        display: flex
        justify-content: center
        align-items: center
        border-left: 1px solid darken($button-color, 10)

.primary-button
    font-size: 16px
    font-weight: bold
    font-family: Roboto,sans-serif
    line-height: 16px
    background-color: $button-color 
    border: none
    border-radius: 5px
    color: #fff
    padding: 15px 20px