.wrapper
    .landing-page-navbar
        max-width: 1240px
        margin-left: auto
        margin-right: auto
    .landing-page
        max-width: 1240px
        margin-left: auto
        margin-right: auto
        height: 30vw
        display: flex
        align-items: center
    .sign-in
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-content
            grid-column: 3 / 10
    .sign-up
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-content
            grid-column: 3 / 10
    .forgot-password
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-content
            grid-column: 3 / 10
    .contact
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-content
            grid-column: 3 / 10
            display: grid
            -ms-grid-columns: repeat(11, 1fr)
            grid-template-columns: repeat(11, 1fr)
            .left-content
                grid-column: 1 / 6
            .right-content
                grid-column: 6 / 12
        &-image
            display: grid
            -ms-grid-columns: repeat(11, 1fr)
            grid-template-columns: repeat(11, 1fr)
            &-see
                grid-column: 3 / 10
    .error
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-container
            grid-column: 4 / 9
    .agencies
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-content
            grid-column: 3 / 10
            display: grid
            -ms-grid-columns: repeat(11, 1fr)
            grid-template-columns: repeat(11, 1fr)
            &-left
                grid-column: 1 / 8
            &-right
                grid-column: 8 / 12
    .compare
        display: grid
        -ms-grid-columns: repeat(11, 1fr)
        grid-template-columns: repeat(11, 1fr)
        &-content
            background-color: #ffffff
            grid-column: 3 / 10
    footer
        display: none
