@import 'vars'
@import 'globals'
@import 'function'
@import 'devices'

/*Home Page*/

.landing-page
    &-background
        z-index: -1
        position: absolute
        top: 0
        left: 0
        background-image: url('../images/background.jpeg')
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 98vh
        border-bottom-left-radius: 60% 150px
        border-bottom-right-radius: 60% 150px
    &-navbar
        &-container
            @include flexbox()
            justify-content: space-between
            height: 70px
            &-logo
                @include flexbox()
                @include align-items()
            &-lists
                @include flexbox()
                @include align-items()
                &-list
                    @include flexbox()
                    &-item
                        padding: 24px 12px
                        &__link
                            color: $text-white
                            text-decoration: none
                        &:hover
                            border-bottom: 1px solid $button-color
            &-settings
                @include flexbox()
                @include align-items()
                &-lists
                    @include flexbox()
                    @include align-items()
                    li
                        a
                            text-decoration: none
                            color: $text-white
/*Home Page*/

/*Sign Page*/
.sign-in
    background-color: $background
    &-content
        background-color: #fff
        margin: 55px 0 110px 0
        padding: 20px 15px 15px 15px
        &-form
            form
                padding-left: 15px
                padding-right: 15px
            h2
                font-weight: bold
                font-size: 24px
                line-height: 40px
            &-input-section
                input
                    width: 100%
                    height: 40px
                    outline: none
                    color: $secondary-text
                    border-radius: 4px
                    border: 1px solid $secondary-text
                label
                    display: block
                    margin: 10px 0 8px 0
                    font-family: Roboto,sans-serif
                    font-size: 16px
                    line-height: 30px
                    color: $secondary-text
                    text-align: left
                    .required
                        color: $red
                        margin-left: 1px
                &-buttons
                    margin-top: 15px
                    display: flex
                    align-items: center
                    button
                        cursor: pointer
                        &:hover
                            transform: scale(1.05)
                            transition: 200ms
                            background-color: $button-hover
                    input
                        margin-left: 40px
                        margin-right: 10px
                        width: 18px
                        height: 18px
                        cursor: pointer
                        &:hover
                            transform: scale(1.05)
                            transition: 200ms

                    label
                        color: #878c9f
                        font-size: 14px
            .forgot
                margin-top: 15px
                a
                    color: #00c194
                    font-size: 16px
                    line-height: 30px
                    text-decoration: none
<<<<<<< kursatyg
                    margin-top: 15px
                    &:hover
                        color: $button-hover !important
                &:hover
                    transform: scale(1.01)
                    transition: 200ms
/*Sign Page*/
/*Sign Up Page*/
.sign-up
    background-color: $background
    &-content
        background-color: #fff
        margin: 55px 0 110px 0
        padding: 20px 15px 15px 15px
        &-form
            form
                padding-left: 15px
                padding-right: 15px
                button
                    cursor: pointer
                    margin-top: 15px 
                    &:hover
                        transform: scale(1.05)
                        transition: 200ms
                        background-color: $button-hover              
            h2
                font-weight: bold
                font-size: 24px
                line-height: 40px
=======
                    margin-top: 15px          
/*Sign Page*/
.forgot-password
    height: 350px
    background-color: $background 
    &-content
        
        background-color: $background
        margin: 110px 0 110px 0
        padding: 20px 15px 15px 15px
        &-form
            form
                padding-left: 15px 
                padding-right: 15px 
            p
                font-size: 16px
                color: #686868
>>>>>>> main
            &-input-section
                input
                    width: 100%
                    height: 40px
                    outline: none
                    color: $secondary-text
                    border-radius: 4px
                    border: 1px solid $secondary-text
<<<<<<< kursatyg

=======
>>>>>>> main
                label
                    display: block
                    margin: 10px 0 8px 0
                    font-family: Roboto,sans-serif
                    font-size: 16px
                    line-height: 30px
                    color: $secondary-text
                    text-align: left
                    .required
                        color: $red
                        margin-left: 1px
                &-buttons
                    margin-top: 15px
                    display: flex
                    align-items: center
<<<<<<< kursatyg
                    justify-content: space-evenly
                    .check
                        display: flex
                        align-items: center
                    
                    input
                        margin-right: 10px
                        width: 18px
                        height: 18px
                        cursor: pointer
                        &:hover
                            transform: scale(1.05)
                            transition: 200ms

                    label
                        color: #878c9f
                        font-size: 14px
                        
/*Sign Up Page*/
=======
                    button
                        cursor: pointer
                    input
                        margin-left: 40px
                        margin-right: 10px
                        width: 18px
                        height: 18px
                    label
                        color: #878c9f 
                        font-size: 14px
            .forgot
                margin-top: 15px            
                a
                    color: #00c194
                    font-size: 16px
                    line-height: 30px
                    text-decoration: none
                    margin-top: 15px 
>>>>>>> main
