@import url("./reset.css");
@import url("./normalize.css");
/* Custom Button */
.property-button {
  width: 190px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 42px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  background-color: #00c194;
  font-family: "Roboto";
  cursor: pointer;
}

.property-button-left {
  height: 44px;
  width: 42px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #008e6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property-button-right {
  width: 148px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #008e6d;
}

.primary-button {
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto,sans-serif;
  line-height: 16px;
  background-color: #00c194;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
}

.primary-button:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #00a37d;
}

.icon-button {
  font-size: 14px;
  line-height: 36px;
  border-radius: 4px;
  padding: 0 22px;
  height: 36px;
  background: #eaf7f4;
  color: #00c194;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.icon-button:hover {
  color: #fff;
  background: #0fa381;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.latest-listing .zoom {
  overflow: hidden;
}

.latest-listing .zoom .img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.latest-listing .zoom .img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.latest-listing p.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #878c9f;
  margin: 5px 0;
  line-height: 18px;
  font-size: 14px;
}

.latest-listing h2.ref-price {
  color: #00c194;
}

.latest-listing h2.ref-price span.type {
  color: #878c9f;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  font-size: 14px;
}

.latest-listing h2.ref-price span {
  color: black;
  font-weight: bold;
}

.latest-listing-section h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.latest-listing-section-top p.home-type {
  color: #878c9f;
  font-size: 14px;
  margin: 8px 0;
}

.latest-listing-section-top h3.ref-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.latest-listing-section-top h3.ref-title:hover {
  color: #00c194;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.latest-listing-section-list {
  margin-top: 18px;
}

.latest-listing-section-list-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  border-top: 1px solid #e7e9ed;
}

.latest-listing-section-list-widget .zoom {
  overflow: hidden;
  padding: 0;
  height: 100px;
}

.latest-listing-section-list-widget .zoom .img-list {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.latest-listing-section-list-widget .zoom .img-list:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-listing-section-list-widget-information {
  margin-top: 6px;
  padding-left: 18px;
}

.latest-listing-section-list-widget-information h3.list-title {
  margin-left: 3px;
  font-size: 16px !important;
  line-height: 20px;
  margin-bottom: 1px !important;
  cursor: pointer;
}

.latest-listing-section-list-widget-information h3.list-title:hover {
  color: #00c194;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.wrapper {
  overflow-x: hidden;
}

.wrapper .landing-page-navbar {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .landing-page {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sign-in {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .sign-in-content {
  grid-column: col 3 / span 10;
}

.wrapper .sign-up {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .sign-up-content {
  grid-column: col 3 / span 10;
}

.wrapper .forgot-password {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .forgot-password-content {
  grid-column: col 3 / span 10;
}

.wrapper .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .contact-content {
  grid-column: col 3 / span 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .contact-content .left-content {
  grid-column: col 1 / span 6;
}

.wrapper .contact-content .right-content {
  grid-column: col 6 / span 12;
}

.wrapper .contact-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .contact-image-see {
  grid-column: col 3 / span 10;
}

.wrapper .error {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .error-container {
  grid-column: col 4 / span 9;
}

.wrapper .agencies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .agencies-content {
  grid-column: col 3 / span 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .agencies-content-left {
  grid-column: col 1 / span 8;
}

.wrapper .agencies-content-right {
  grid-column: col 8 / span 12;
}

.wrapper .compare {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, [col] 1fr);
  grid-template-columns: repeat(12, [col] 1fr);
}

.wrapper .compare-content {
  background-color: #ffffff;
  grid-column: col 3 / span 10;
}

.wrapper footer {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Home Page*/
.landing-page-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 732px;
  border-bottom-left-radius: 60% 150px;
  border-bottom-right-radius: 60% 150px;
}

.landing-page-navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86px;
}

.landing-page-navbar-container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.landing-page-navbar-container-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.landing-page-navbar-container-lists-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-page-navbar-container-lists-list-item__link {
  padding: 30px 15px;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.landing-page-navbar-container-lists-list-item:hover {
  border-bottom: 2px solid #50ffe4;
}

.landing-page-navbar-container-lists-list-item.--active {
  border-bottom: 2px solid #50ffe4;
}

.landing-page-navbar-container-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.landing-page-navbar-container-settings-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.landing-page-navbar-container-settings-lists-list {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  position: relative;
  margin: 10px;
}

.landing-page-navbar-container-settings-lists-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
}

.landing-page-navbar-container-settings-lists-list div {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: #00c194;
}

.landing-page-navbar-container-settings-lists-list div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 12px;
}

.landing-page-content {
  width: 100%;
  text-align: center;
}

.landing-page-content__title {
  height: 170px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Ubuntu', sans-serif;
}

.landing-page-content-filter-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page-content-filter-form-buttons-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-page-content-filter-form-buttons-lists-list {
  margin-right: 30px;
}

.landing-page-content-filter-form-buttons-lists-list__item {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.landing-page-content-filter-form-buttons-lists-list__item:hover span {
  background-color: #00a376;
}

.landing-page-content-filter-form-buttons-lists-list__item span {
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.landing-page-content-filter-form-buttons-lists-list__item .active {
  background-color: #00a376;
}

.landing-page-content-filter-form-search {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page-content-filter-form-search div select {
  width: 260px;
  height: 60px;
  border-right: #00c194;
}

.landing-page-content-filter-form-search div input[type=text] {
  width: 260px;
  height: 60px;
  outline: none;
  border: none;
}

.landing-page-content-filter-form-search__setting-button {
  width: 58px;
  height: 60px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.landing-page-content-filter-form-search__search-button {
  width: 131px;
  height: 60px;
  background-color: #00c194;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.landing-page-content-filter-form-search-info {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.landing-page-content-filter-form-search-info h3 {
  font-size: 20px;
  color: #ffffff;
}

.landing-page-content-clients {
  width: 1240px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

/*Home Page*/
/*Sign Page*/
.sign-in {
  background-color: #eaf7f4;
}

.sign-in-content {
  background-color: #fff;
  margin: 55px 0 110px 0;
  padding: 20px 15px 15px 15px;
}

.sign-in-content-form form {
  padding-left: 15px;
  padding-right: 15px;
}

.sign-in-content-form h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.sign-in-content-form-input-section input {
  width: 100%;
  height: 40px;
  outline: none;
  color: #686868;
  border-radius: 4px;
  border: 1px solid #686868;
}

.sign-in-content-form-input-section label {
  display: block;
  margin: 10px 0 8px 0;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #686868;
  text-align: left;
}

.sign-in-content-form-input-section label .required {
  color: #ff0000;
  margin-left: 1px;
}

.sign-in-content-form-input-section-buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in-content-form-input-section-buttons button {
  cursor: pointer;
}

.sign-in-content-form-input-section-buttons button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #00a37d;
}

.sign-in-content-form-input-section-buttons input {
  margin-left: 40px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.sign-in-content-form-input-section-buttons input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.sign-in-content-form-input-section-buttons label {
  color: #878c9f;
  font-size: 14px;
}

.sign-in-content-form .forgot {
  margin-top: 15px;
}

.sign-in-content-form .forgot a {
  color: #00c194;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  margin-top: 15px;
}

.sign-in-content-form .forgot a:hover {
  color: #00a37d !important;
}

.sign-in-content-form .forgot:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 200ms;
  transition: 200ms;
}

/*Sign Page*/
/*Sign Up Page*/
.sign-up {
  background-color: #eaf7f4;
}

.sign-up-content {
  background-color: #fff;
  margin: 55px 0 110px 0;
  padding: 20px 15px 15px 15px;
}

.sign-up-content-form form {
  padding-left: 15px;
  padding-right: 15px;
}

.sign-up-content-form form button {
  cursor: pointer;
  margin-top: 15px;
}

.sign-up-content-form form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #00a37d;
}

.sign-up-content-form h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.sign-up-content-form-input-section input {
  width: 100%;
  height: 40px;
  outline: none;
  color: #686868;
  border-radius: 4px;
  border: 1px solid #686868;
}

.sign-up-content-form-input-section label {
  display: block;
  margin: 10px 0 8px 0;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #686868;
  text-align: left;
}

.sign-up-content-form-input-section label .required {
  color: #ff0000;
  margin-left: 1px;
}

.sign-up-content-form-input-section-buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sign-up-content-form-input-section-buttons .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up-content-form-input-section-buttons input {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.sign-up-content-form-input-section-buttons input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.sign-up-content-form-input-section-buttons label {
  color: #878c9f;
  font-size: 14px;
}

/*Sign Up Page*/
.error {
  margin-top: 100px;
}

.error-container img {
  width: 100%;
  height: auto;
}

.error-container__title {
  color: #212121;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
  line-height: 50px;
  text-align: center;
}

.error-container__description {
  color: #000000;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 70px;
  text-align: center;
}

.error-container a {
  text-decoration: none;
}

.error-container a button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 284px;
  height: 60px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/* Compare Page */
.compare-content {
  height: 216px;
  padding: 30px;
  border: 1px solid red;
}

.compare-content h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 20px;
}

.compare-content p {
  font-size: 16px;
  color: #686868;
}

/*Contact Page*/
.contact .contact-content {
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .left-content {
  margin-top: 50px;
}

.contact .contact-content .left-content .title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact .contact-content .left-content p {
  color: #686868;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.contact .contact-content .left-content .widget {
  padding: 20px 18px;
  line-height: 30px;
  border-style: solid;
  border-color: #E4E9F2;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 11px 35px 0px rgba(193, 200, 213, 0.3);
          box-shadow: 0px 11px 35px 0px rgba(193, 200, 213, 0.3);
}

.contact .contact-content .left-content .widget:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact .contact-content .left-content .widget .icons {
  background-color: #f9fbfe;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #00c194;
  border-style: solid;
  border-width: 1px;
  border-color: #f9fbfe;
  margin: 10px 25px 14px 10px;
}

.contact .contact-content .left-content .widget .icons:hover {
  color: #fff;
  background-color: #00c194;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.contact .contact-content .left-content .widget-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .left-content .widget-text .social-media-icons {
  color: #686868;
  font-size: 17px;
}

.contact .contact-content .left-content .widget-text .social-media-icons .icon {
  margin-right: 14px;
  cursor: pointer;
}

.contact .contact-content .left-content .widget-text .social-media-icons .icon:hover {
  color: #00c194;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact .contact-content .left-content .widget-text h3 {
  color: #70778b;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
}

.contact .contact-content .left-content .widget-text h2 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contact .contact-content .right-content {
  margin-left: 50px;
  border: 1px solid #EBEBEB;
  padding: 20px 30px;
  border-radius: 10px;
}

.contact .contact-content .right-content-text h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.contact .contact-content .right-content-text p {
  color: #686868;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.contact .contact-content .right-content-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-content .right-content-form-section {
  width: 100%;
  margin-bottom: 15px;
}

.contact .contact-content .right-content-form-section label {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #a7a7a7;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact .contact-content .right-content-form-section input, .contact .contact-content .right-content-form-section textarea {
  line-height: 24px;
  padding: 10px;
  width: 91%;
  background-color: #f9fbfe;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #e4e9f2;
  outline: none;
  cursor: text;
}

.contact .contact-content .right-content-form-section input:focus, .contact .contact-content .right-content-form-section textarea:focus {
  border-color: #80bdff;
}

.contact .contact-content .right-content-form-section input:hover, .contact .contact-content .right-content-form-section textarea:hover {
  border-color: #00c194;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact .contact-content .right-content-form-section textarea {
  overflow: auto;
  resize: vertical;
  width: 96%;
  max-height: 195px;
  min-height: 200px;
}

.contact .contact-content .right-content-form-section:nth-child(1) {
  padding-right: 15px;
}

.contact .contact-content .right-content-form-section:nth-child(2) {
  padding-left: 15px;
}

.contact .contact-content .right-content-form .textarea-section {
  padding: 0;
}

.contact .contact-content .right-content button {
  width: 100%;
  cursor: pointer;
  line-height: 30px;
}

.contact .contact-content .right-content button:hover {
  background-color: #00a37d;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact-image {
  margin-top: 100px;
}

/*Contact Page*/
/*Agencies Page*/
.agencies {
  background-color: #eaf7f4;
}

.agencies-content {
  margin: 0 15px;
}

.agencies-content-left-section-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: 1px solid #deede9;
  border-radius: 8px;
  padding: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.agencies-content-left-section-element img {
  width: auto;
  height: 207px;
  margin-right: 30px;
  background-color: #f4f6fb;
  border-radius: 6px;
  overflow: hidden;
}

.agencies-content-left-section-element-properties {
  position: absolute;
  top: 35px;
  left: 35px;
  background-color: #fff;
  padding: 1px 10px 1px 17px;
  font-size: 14px;
  border-radius: 3px;
  line-height: 25px;
  overflow: hidden;
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #00c194;
  font-weight: bold;
}

.agencies-content-left-section-element-properties:hover {
  color: #fff;
  background-color: #0fa381;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.agencies-content-left-section-element-text-section h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 4px;
}

.agencies-content-left-section-element-text-section-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #686868;
}

.agencies-content-left-section-element-text-section-location-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agencies-content-left-section-element-text-section-location-address .icon {
  color: #00c194;
  margin-right: 5px;
  font-size: 20px;
}

.agencies-content-left-section-element-text-section-location-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agencies-content-left-section-element-text-section-location-views .icon {
  color: #00c194;
  margin-right: 5px;
  font-size: 20px;
}

.agencies-content-left-section-element-text-section-about {
  border-top: 1px solid #deede9;
  padding-top: 10px;
  margin-top: 3px;
  color: #686868;
  line-height: 24px;
  margin-bottom: 17px;
}

.agencies-content-left-section-element-text-section-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.agencies-content-left-section-element-text-section-buttons-contact button {
  padding: 0 15px;
  margin-left: 4px;
}

.agencies-content-left-section-element-text-section-buttons-contact .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.agencies-content-right-section {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #deede9;
}

.agencies-content-right-section h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 25px;
  font-weight: bold;
}

.agencies-content-right-section-filter input {
  border: 1px solid #deede9;
  border-radius: 4px;
  height: 50px;
  padding-left: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 18px;
}

.agencies-content-right-section-filter input::-webkit-input-placeholder {
  color: #878c9f;
  font-size: 15px;
}

.agencies-content-right-section-filter input:-ms-input-placeholder {
  color: #878c9f;
  font-size: 15px;
}

.agencies-content-right-section-filter input::-ms-input-placeholder {
  color: #878c9f;
  font-size: 15px;
}

.agencies-content-right-section-filter input::placeholder {
  color: #878c9f;
  font-size: 15px;
}

.agencies-content-right-section-filter-select select {
  cursor: pointer;
  border: 1px solid #deede9;
  border-radius: 4px;
  height: 50px;
  line-height: 56px;
  width: 100%;
  margin-bottom: 18px;
  outline: none;
  padding-left: 15px;
  color: #878c9f;
  font-size: 15px;
}

.agencies-content-right-section-filter-select select option {
  height: 50px;
  line-height: 56px;
  border: 1px solid red;
}

.agencies-content-right-section-filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agencies-content-right-section-filter-buttons button {
  height: 56px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.agencies-content-right-section-filter-buttons .reset-button {
  border: 1px solid #00c194;
  border-radius: 5px;
  background-color: #fff;
  color: #00c194;
  font-weight: bold;
  margin-left: 5px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.agencies-content-right-section-filter-buttons .reset-button .icon {
  font-size: 18px;
}

.agencies-content-right-section-filter-buttons .reset-button:hover {
  background-color: #00a37d;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

/*Agencies Page*/
*, *::before, *::after {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
/*# sourceMappingURL=styles.css.map */